<form method="post" action="{{ path('forums_forum_forums_delete', {'id': forum_forum.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ forum_forum.id) }}">
    <button class="btn">Delete</button>
</form>
