{% extends 'base.html.twig' %}

{% block title %}Edit ForumForums{% endblock %}

{% block body %}
    <h1>Edit ForumForums</h1>

    {{ include('forums_forum_forums/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('forums_forum_forums_index') }}">back to list</a>

    {{ include('forums_forum_forums/_delete_form.html.twig') }}
{% endblock %}
