{% extends 'base.html.twig' %}

{% block title %}Linkmod{% endblock %}

{% block body %}

<div class="container">

        {%  for row in rows %}
         <div class="mods">
             <div class="card">
                <div class="mods__title"><h2>{{ row.title }}</h2></div>
                 <div class="mods__content">{{ row.content | markdown_excerpt(5) }}</div>
                 <div class="mods_meta"><time-ago time="{{ row.createdAt | date }}"></time-ago></div>
            </div>
         </div>
        {%  endfor %}

</div>

{% endblock %}
