.dashboard {
  @extend %container;
  z-index: 999;
  position: relative;

}
.dashboard-title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: space(1);
}
.dashboard-title svg {
  height: 20px;
  width: 20px;
  color: var(--contrast);
}
.dashboard-card {
  @extend %card-big;
  padding: space(3);
}
.dashboard-card > * + * {
  margin-top: space(4);
}
.dashboard-search {
  display: flex;
}
.dashboard-search input {
  max-width: 300px;
}
.dashboard-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  & > * + * {
    margin-left: space(1);
  }
}
.dashboard-btn {
  @extend .btn-gradient;
  font-size: .9em;
}
.edit_bar {
  font-size: 16px;
}


// Grille
// ==================
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: space(3);
}

.form-attachment {
  grid-column: -2 / -1;
  grid-row-end: span 2;
}

.form-editor {
  grid-column: 1 / -1;
}

.form-switch {
  align-self: flex-end;
}

.count__category{
  height: 140px;
  width: 140px;
  background: #4869EE;
  text-align: center;
  font-size: 25px;
  color: var(--color-btn);
  border-radius: 140px;
  border: #000 3px solid;
}
.count__category span{
  display: block;
  padding-top: 25px;
}
.contentToApprouve{
  width: 22%;
  border: var(--border-light);
  margin-top: space(3);
}
.contentToApprouve a svg{
  width: 16px;
  height: 16px;
  margin-left: space(1);
  text-align: right!important;

}
.contentToApprouve h3{
  @extend %h3;
  color: var(--color-btn);
}
.title_approuve {
  background: #4869EE;
  height: 40px;
  line-height: 1.4!important;
  padding: space(1);

}
//21B546
//02E85C
//#0AFF8D
//#02E89D
//#02C29F
.header__dashboard {
  height: 300px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background: url(../../images/wave.svg) top left / 100% 100% no-repeat!important;
}
.count_bar{
  z-index: 999;
  position: relative;
  display: inline-flex;

}
.count_bar div {
  margin-left: space(3);
}
.content__dashboard{
  display: block;
  background: var(--background-light);
  padding: space(2);
  border-radius: 3px  ;
  box-shadow: var(--shadow);
  z-index: 999;
}
.contentToApprouve ul li {
   border-bottom: 1px solid var(--border-light);
   width: 100%;
 }

.contentToApprouve ul {
  width: 100%;
}

.right-align {
  display: flex;
  margin-left: 70%;
  margin-bottom: space(3);
}
.right-align a {
  margin-left: space(3);
}
checkbox {
  display: inline-flex;
}