<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Administration {% apply striptags %}{% block title ''   %}{% endapply %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700|Roboto:300,400&display=swap" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}

    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('admin') | replace({'<script': '<script defer'}) | raw }}
    {% endblock %}
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="turbolinks-cache-control" content="no-cache" />
</head>
<body>
<header class="header__dashboard"></header>
<div class="dashboard">
    {% include 'admin/partials/_nav.html.twig' %}


    {% include 'partials/flash.html.twig' %}
<div class="container">
    <div class="content__dashboard">
    {% block body %}{% endblock %}
    </div>
</div>
</div>
    <footer class="footer__dashboard">
        <div class="container">
            Les Dernier Commantaires
        </div>

    </footer>

</body>
</html>