<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% apply striptags %}{% block title ''  %}{% endapply %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700|Roboto:300,400&display=swap" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') | replace({'<script': '<script defer'}) | raw }}
        {{ encore_entry_script_tags('app') | replace({'<script': '<script defer'}) | raw }}
    {% endblock %}
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="turbolinks-cache-control" content="no-cache" />
</head>
<body>

<div class="dashboard">

    {% include 'partials/flash.html.twig' %}
<div class="container">
    {% block body %}{% endblock %}
</div>
</div>
</body>
</html>