{% extends "admin/layout/card.html.twig" %}

{% block content %}
    <h1 class="dashboard-title">
        {{ icon('clock') }} Dashboard
    </h1>
    <div class="flex">
    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('home') }}">Retour au site</a></li>
    {% endif %}


    </div>

    {% if is_granted('ROLE_SUPERADMIN') %}
        <li><a href="{{ path('superadmin_index') }}">Gestion SuperAdmin</a></li>
    {% endif %}




{% endblock %}