{% extends 'admin/base.html.twig' %}

{% block title %}New Mods{% endblock %}

{% block body %}
    <h1>Create new Mods</h1>

    {{ include('admin/mods/_form.html.twig') }}

    <a href="{{ path('mods_index') }}">back to list</a>
{% endblock %}
