
.forum__body {
  display: block;
  position: relative;
  margin-top: space(2);
}

.forum__category {
  display: inline-flex;
  height: 50px !important;
  width: 100%;
  background: #41CF7C;
  font-size: 18px;
  line-height: 50px;
  padding-left: space(2);
}

.forum__category a {
  width: 40%;
  text-align: right;
  padding-right: space(2);
}

.forum__category svg {
  display: inline-flex;
  height: 22px !important;
  width: 22px;
}

.forum__category__title {
  display: inline-flex;
  width: 60%;
}

.forum__content {
  display: inline-flex;

}

.forum__content svg {
  width: 60px;
  height: 60px;
  padding: space(1);
}

.forum__forum__title {
  font-family: $font-alt;
  font-weight: bold;
  font-size: 16px;
  margin-top: space(1);
}