{% extends 'base.html.twig' %}

{% block title 'Mon compte' %}

{% block body %}


    <div class="container">

        <div class="profil-header">
            <form class="profil-header__avatar" enctype="multipart/form-data" method="post" action="{{ path('user_avatar') }}" is="auto-submit">
                <img src="{{ user | avatar }}" alt="">
                <div class="profil-header__upload">
                    {{ icon('cloud') }}
                </div>
                <input type="file" name="avatar"/>
            </form>
            <div class="profil-header__body">
                <h1 class="h1">Mon profil</h1>
                <p>
                    <span class="badge badge-secondary">Compte standard</span>
                    Inscrit depuis 10 ans
                </p>
            </div>
        </div>

        {% include 'partials/flash.html.twig' %}


    </div>


{% endblock %}