{% extends 'admin/layout/card.html.twig' %}

    {% block title %}
        {{ icon('pen') }}
        Créer l'article
    {% endblock %}
{% block body %}

    <div class="dashboard-title">
        <h1>Create new Content</h1>

    </div>



    {{ include('admin/content/_form.html.twig') }}


{% endblock %}
